@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ServiceStack Bundler</h1>
    <p>A demo project to see ServiceStack Bundler in action. YMMV, you know.</p>

    <p>Just open @Html.ActionLink("Demo page", "Index", "Products", new { env = "prod" }) and checkout the source code to get an idea.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Supported environments</h2>
        <ul>
            <li>Frontend machines (Mac OS, Win)</li>
            <li>Backend machines (restricted to Win)</li>
            <li>Test server (via TeamCity)</li>
            <li>Production server</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Demo cases</h2>
        <ul>
            <li>@Html.ActionLink("Development mode", "Index", "Products", new { @env = "dev" }, null)</li>
            <li>@Html.ActionLink("Testing mode", "Index", "Products", new { @env = "test" }, null)</li>
            <li>@Html.ActionLink("Production mode", "Index", "Products", new { @env = "prod" }, null)</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Github</h2>
        <p>Please feel free to checkout a <a href="https://github.com/andreypesoshin/frontend-templates">github page</a> if you like it</p>
    </div>

</div>